

<div class="page proyecto">	
	<%= render(:partial => "compartido/header") %>
	
	<div class="contenido">

		<div class="contenido_proyecto clear_block">
			<h1 class="titulo_principal"> 
				<span class="naranja">
					<%= @proyect.titulo %>
				</span>
			</h1>
			<div class="proyecto_subtitulo">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. 	
			</div>
			<div class="columnas columna_lateral">
				<h5>Fecha: </h5>
				<p>
					<%= @proyect.fecha %>
				</p>
				

				<h5>Localidad: </h5>
					<ul>
					<% for n in  @localidad %>
						<li><%= n %>n</li>
					<% end%>	
					</ul>

				<h5>Grupo meta: </h5>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. 	
				</p>

				<h5>Organizaciones Socias:</h5>

					<% @orgsoc.each do |orgsoc| %>
						<% if orgsoc.visible %>
							<img src="<%= orgsoc.url_imagen %>" alt="" class="org_socias">
							<p><%= orgsoc.nombre %></p>
						<% end %>
					<% end %>



				<h5>Cofinanciadores: </h5>
					<ul>
						<% @orgsoc.each do |orgsoc| %>
							<% if orgsoc.visible %>							
								<li><%= orgsoc.nombre %></li>							
							<% end %>
						<% end %>
					</ul>
			</div>
			<div class="columnas columna_central">

<%= sanitize(@proyect.texto_central, :tags=>['br','strong','i','u','strong','p']) %>

			</div>
		</div>
	</div>

	<%= render(:partial => "compartido/footer") %>

</div>